---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Quote from "../components/Quote.astro";
import Stack from "../components/Stack.astro";
import WorkExample from "../components/WorkExample.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<style>
  .main-layout {
    margin-block-start: 10vh;
  }
</style>

<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="main-layout">
    <Header />

    <main>
      <Stack>
        <p>
          Having worked as a narrative designer and writer with two years of
          experience in the gaming industry, I have worked on a variety of
          titles spanning a wide array of genres. Going forward, I would love to
          utilize my passion for AI development to create narrative-driven
          experiences.
        </p>
        <Quote>
          <p>
            A passionate and skilful proofreader and narrative designer,
            [Edward] has proven himself to be one of the most talented and
            innovative language specialists I have ever worked with. With his
            knowledge of script writing and expertise in the English language,
            Edward has helped us improve the English translations for mobile
            game titles that we have been developing, publishing, or localising.
            In particular, he has also written a series of stories based on true
            historical events for the campaigns in a strategy game developed by
            our company. He played a major role in our successful launch of
            several mobile games. […] He has outstanding communication skills,
            and an uncanny ability to make complex information easily understood
            by general audiences.
          </p>

          <span slot="author">
            Zheng Kai, <br />English Localization Team Manager for Overseas
            Operations at 37GAMES
          </span>
        </Quote>
      </Stack>
    </main>
    <Footer />
  </body>

  <script
    is:inline
    src="https://diamond-thirtytwo.edwardshambrook.com/script.js"
    data-site="HFQLYEKG"
    defer
  ></script>
</html>
