---
const today = new Date();
---

<footer class="col-full">
  <p>
    <a href="https://www.linkedin.com/in/edwardshambrook">LinkedIn</a>
  </p>
  <p>&copy; {today.getFullYear()} Edward Shambrook. All rights reserved.</p>
</footer>

<style>
  footer {
    /* intentionally inverted */
    background-color: var(--silver);
    /* color: var(--bkgd-color); */
    font-size: var(--font-size-small);
    margin-block-start: 2rem;
    padding: 25px;
    text-align: center;
  }

  @media screen and (prefers-color-scheme: dark) {
    footer {
      background-color: var(--navy);
      color: var(--text-color);
    }
  }

  a {
    color: var(--link-color);
  }
</style>
