---
const today = new Date();
---

<footer class="col-full">
  <p>
    <a href="https://www.linkedin.com/in/edwardshambrook">LinkedIn</a>
  </p>
  <p>&copy; {today.getFullYear()} Edward Shambrook. All rights reserved.</p>
</footer>

<style>
  footer {
    background-color: var(--black);
    color: var(--white);
    font-size: var(--font-size-small);
    margin-block-start: 2rem;
    padding: 25px;
    text-align: center;
  }

  a {
    color: var(--aqua);
  }
</style>
