---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<header>
  <h1>{SITE_TITLE}</h1>
  <h2>{SITE_DESCRIPTION}</h2>
  <nav>
    <HeaderLink href="/">Home</HeaderLink>
    <HeaderLink href="/portfolio">Portfolio</HeaderLink>
    <HeaderLink href="/about">About</HeaderLink>
    <HeaderLink
      href="https://www.linkedin.com/in/edwardshambrook"
      target="_blank"
    >
      LinkedIn
    </HeaderLink>
  </nav>
</header>
<style>
  h2 {
    margin: 0.5em 0;
  }
</style>
