---
interface Props {
  space?: number;
}

const { space } = Astro.props;
---

<div class="stack" style={space ? `--space: ${space}rem` : ""}>
  <slot />
</div>

<style>
  .stack {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .stack > :global(*) {
    margin-block: 0;
  }

  .stack > :global(*) + :global(*) {
    margin-block-start: var(--space, 5rem);
  }
</style>
