---
interface Props {
  space?: number;
  addToFirst?: boolean;
  class?: string;
}

const { space, addToFirst = false, ...props } = Astro.props;
---

<div
  class={`stack ${addToFirst ? "first" : ""} ${props.class ? props.class : ""}`}
  style={space ? `--space: ${space}rem` : ""}
>
  <slot />
</div>

<style>
  .stack {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .stack > :global(*) {
    margin-block: 0;
  }

  .stack.first > :global(*) {
    margin-block-start: var(--space, 5rem);
  }

  .stack > :global(*) + :global(*) {
    margin-block-start: var(--space, 5rem);
  }
</style>
