---
type Color =
  | "navy"
  | "blue"
  | "aqua"
  | "teal"
  | "olive"
  | "green"
  | "lime"
  | "yellow"
  | "orange"
  | "red:"
  | "fuchsia"
  | "purple"
  | "maroon"
  | "white"
  | "silver"
  | "gray"
  | "black";

type Props = {
  alignImage?: "left" | "right";
  headingColor: Color;
  title: string;
};

const { alignImage = "left", headingColor, title } = Astro.props;
---

<article class={alignImage === "right" ? "reverse" : ""}>
  {
    Astro.slots.has("media") && (
      <div class="media">
        <slot name="media" />
      </div>
    )
  }
  <div class="content">
    <h3 slot="title" style={`--color: ${headingColor}`}>{title}</h3>
    <slot name="description" />
  </div>
</article>

<style>
  article {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-block: 2rem;
  }

  h3 {
    background: linear-gradient(#eee, var(--color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .media {
    flex-basis: 40%;
    line-height: 0;
    margin-block-end: 2rem;
  }

  .content {
    flex: 1;
    max-width: var(--max-width);
  }

  @media (min-width: 600px) {
    article {
      flex-direction: row;
    }

    .reverse {
      flex-direction: row-reverse;
    }

    .media {
      margin-block-end: 0;
    }

    .reverse > .media {
      margin-inline-start: 2rem;
    }

    article:not(.reverse) .media {
      margin-inline-end: 2rem;
    }
  }
</style>
